// un fichier scss pour chaque page html
@use 'color';
@use 'images';
@use 'button';
@use 'div-parameters';


.a-propos-main{
    display:flex;
    flex-direction: column;
    align-items: center;

    section {
        width:100%;
        display:flex;
        flex-direction: column;
        align-items: center;
            
        div{
            display:flex;
            flex-wrap: nowrap;
        }
    }


    h1 {
        align-self: center;
        padding: 0%;
    }

    .cta{
        display:flex;
        flex-wrap: nowrap;
        align-self:center;
        align-items: center;
        @include button.cta($width_btn:15em,$a_link:true,$long:true);
        justify-content: center;
        margin:5% 0% 50% 0%;
    }
} 

.carre-contenu {
    @include div-parameters.div_parameters($color:color.$color_dark,$row:false,$align:left);
    margin:0% 22% 5% 22%;
    border-right:1px color.$color_light solid;
    border-bottom:1px color.$color_light solid;

    h2 {
        align-self: center;
        padding-bottom: 10%;
    }
}
