// un fichier scss pour chaque page html
@use 'color';
@use 'images';
@use 'button';
@use 'div-parameters';


.a-propos-main{
    display:flex;
    flex-direction: column;
    align-items: center;

    section {
        width:100%;
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    

    h1 {
        align-self: center;
        padding: 0%;
    }

    .cta{
        @include button.cta($width_btn:10em,$a_link:true);
    }
} 

.carre-contenu {
    @include div-parameters.div_parameters($color:color.$color_dark,$row:false,$align:left);
    margin:0% 22% 5% 22%;
    border-right:1px color.$color_light solid;
    border-bottom:1px color.$color_light solid;

    h2 {
        align-self: center;
        padding-bottom: 10%;
    }
}
