// un fichier scss pour chaque page html
@use 'color';
@use 'images';
@use 'button';

@mixin div_parameters($color:color.$color_dark, $row:false, $align:center) {
    display:flex;
   
    @if $row {
       flex-direction: row;
    }
    @else {
        flex-direction: column;
    }
    justify-content: space-around;
    align-items: $align;
    padding: 5% 10% 5% 10%;
    background-color: $color;
}

.a-propos-main{
    display:flex;
    flex-direction: column;
    align-items: center;
} 

.carre-contenu {
    @include div_parameters($color:color.$color_dark,$row:false,$align:left);
}

.cta{
    @include button.cta($width_btn:10em,$a_link:true);
}