@use 'color';
@use 'font';

//mixin pour créer un bouton
@mixin cta($width_btn:10em,$a_link:true,$long:false) {
    text-decoration: none;
    justify-content: center;
    @extend p; // utilisation de l'attribut texte paragraphe dans les boutons
    width:$width_btn;
    height:$width_btn/4;
    border-radius: $width_btn / 8;
    background: color.$gradient;
    @if $a_link {
        padding:2% 5% 2% 5%;  
    }
    @else {
        padding:0% 5% 0% 5%; 
    }
    @if $long { // conditionelle supplémentaire pour un bouton dont le contenu textuel est plus long que les autres
        height:$width_btn/8;
    }
}