@use 'sass:color'; // importation nécéssaire pour utiliser color.adjust

// variables couleurs
$color_main: white;
$color_secondary : black;
$color_dark: #1F2037;
$color_light: #b2b3f5;
$gradient: linear-gradient(to bottom, color.adjust($color_light, $lightness: -10%)0%, $color_light 80%, color.adjust($color_light, $lightness: 5%) 100%);
// gradient ajuste la couleur sombre et la couleur claire en fonction de la couleur claire saisie ($color_light)

// style alternatif

/* $color_main: #ffecff;
$color_secondary : #000984;
$color_dark: #321f37;
$color_light: #deb2f5;
$gradient: linear-gradient(to bottom, color.adjust($color_light, $lightness: -10%)0%, $color_light 80%, color.adjust($color_light, $lightness: 5%) 100%); */