@use 'color';

@mixin div_parameters($color:color.$color_dark, $row:false, $align:center) {
    display:flex;
   
    @if $row {
       flex-direction: row;
    }
    @else {
        flex-direction: column;
    }
    justify-content: space-around;
    align-items: $align;
    padding: 5% 10% 5% 10%;
    background-color: $color;
}