// un fichier scss pour chaque page html
@use 'color';
@use 'images';
@use 'button';
@use 'div-parameters';

.accueil-introduction{
    @include div-parameters.div_parameters($color:color.$color_dark,$row:true,$align:center);

    img {
        @include images.image($width:30em,$carre:true);
        padding-left: 10%;
    }

    p{
        margin-bottom: 10%;
    }

    .cta{
        @include button.cta($width_btn:10em,$a_link:true);
    }

}

.accueil-photos {
    @include div-parameters.div_parameters($color:color.$color_main,$row:false,$align:center);

    img {
        @include images.image($width:25em,$carre:true);
    }

    h2 {
        color: color.$color_secondary;
        padding-bottom: 5%;
    }
}

.section-contact {
    @include div-parameters.div_parameters($color:color.$color_dark,$row:false,$align:center);

    h2 {
        color: color.$color_light;
        padding-bottom: 5%;
    }
    form {display:flex;
        flex-direction: column;
        justify-content: center;

        label {
            @extend p;
        }

        .form-nom-email {
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 3% 0% 3% 0%;
        }

        .form-column {
            display:flex;
            flex-direction: column;

            input {
                width: 29em;
                margin-top:2%;
            }
        }

        textarea {
            width:60em;
            margin:2% 0% 5% 0%;
        } 
    }

    .cta{
        align-self:center;
        @include button.cta($width_btn:10em,$a_link:false);
        justify-content: center;
    }
}

