// un fichier scss pour chaque page html
@use 'color';
@use 'images';

h1 {
    padding: 5% 0% 5% 5%;
}

.portfolio-section-photos {
    width: 100%;
    background-color: color.$color_main;
    
    h2 {
        padding: 5% 0% 0% 5%;
        margin-top: -5%;
        color:color.$color_secondary;
    }

    img:hover { // augmente la taille des photos quand survolé
        transform: scale(1.1);
    }

}

.paysages {
    padding: 5% 5% 0% 5%; //haut droite bas gauche
    img {
        @include images.image($width:25em,$carre:false);
    }
}

.portraits {
    @extend .paysages;
    padding-bottom: 5%;
    img {
        object-fit: cover; // l'image ne se déforme pas mais est rognée
    }
}