@use 'sass:map';
@use 'color';
@use 'font';
@use 'images';
@use 'index';
@use 'a-propos';
@use 'portfolio';
@use 'button';



header {
    width:auto;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    padding:3%;
    background-color: color.$color_main;
}

nav {
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
   
    div {
        width:20em;
        justify-content: flex-end;
        a {
            text-decoration: none;
            @extend p;
            color:color.$color_secondary;
            padding: 5%;
        }
    } 
}

.active {
    color:color.$color_light; //change la couleur du lien vers la page où se trouve l'utilisateur
}

main {
    width:100%;
    height:100%;
    background-color: color.$color_dark;
}


em {
    font-style: normal;
}

table {
    width:80%;
    border-collapse: collapse;
    align-self: center;
    margin:3% 0% 8% 0%; 
}

td {
    @extend p;
    width: fit-content;
    padding:3%;
    height: 5em;
    border: 1px color.$color_light solid;
}

th {
    @extend td;
    font-weight:700;
}

.cta:hover{ // affiche le bouton en noir et blanc quand survolé
    background:color.$color_main;
    color:color.$color_secondary;
    transform: scale(1.2);
}

footer {
    @extend header;

    div {
        width:10em;
        justify-content: flex-end;
        img {
            padding: 5%;
        }
    } 
}