@use 'color';
@use 'font';
@use 'images';

header {
    background-color: color.$color_main;
}

main {
    background-color: color.$color_dark;
}

.cta {
    background-color: color.$gradient;
}

footer {
    @extend header;
}